<section class="big-inner-banner tajweed-banner">
    <div class="container banner-center-container" bis_skin_checked="1">
        <div class="row align-items-center" bis_skin_checked="1">
            <div class="col-lg-6" bis_skin_checked="1">
                <div class="banner-heading" bis_skin_checked="1">
                    <h3>Learn or Revise with us</h3>
                    <h1>Tajweed Quran Course</h1>
                    <p class="after-head-p">Let's study how to understand the Holy Quran online. All genders are welcome
                        to learn</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="white-section ornament-section pb-0 mb-5">
    <div class="container mb-5" bis_skin_checked="1">
        <div class="row justify-content-center" bis_skin_checked="1">
            <div class="col-lg-8" bis_skin_checked="1">
                <div class="inner-course-detail" bis_skin_checked="1">
                    <h3>About Tajweed Course</h3>
                    <p>Do you feel the dire need to overcome your flaws in recitation and be fluent in Quranic Arabic?
                        The correct and rightful recitation of the Quran holds great significance.</p>
                    <p>in <strong>the tajweed Quran course</strong> you will achieve this goals .</p>
                    <p><strong>Reciting Quran</strong> out loud in a soulful voice would grant you many rewards. The
                        Prophet (P.B.U.H) said”</p>
                    <blockquote>
                        <p>‘Verily the one who recites the Qur’an beautifully, smoothly, and precisely, he will be in
                            the company of the noble and obedient angels’<br>(Sahih Muslim)</p>
                    </blockquote>
                    <p><strong>To master the recitation of the Quran</strong>, one needs to excel in
                        <strong>“Tajweed”</strong>. The literal meaning of “<strong>Tajweed</strong>” is to improve.</p>
                    <p>When taught with the Quran, it refers to <span style="text-decoration: underline;">enhancing our
                            recitation of the Quran</span>.</p>
                    <p><strong>Tajweed</strong> constitutes the rules and regulations one needs to follow in recitation
                        to make it beautiful and accurate.</p>
                    <p>Moreover, reciting Quran with proper Tajweed, in accordance with the proper rules and
                        pronunciations, taking care of all the minor details and making sure nothing is missed out or
                        pronounced differently.</p>
                    <p><strong>Pronouncing Quranic words</strong> differently leads to a changed meaning, and it’s a sin
                        to add or subtract from the true meaning of the Quran.</p>
                    <p><strong>Tajweed is essential</strong> to follow and abide by <span
                            style="text-decoration: underline;">to recite the Holy Quran rightfully and
                            carefully</span>.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" bis_skin_checked="1">
                <div class="inner-side-course-area" bis_skin_checked="1">
                    <div class="inner-side-course-detail-head" bis_skin_checked="1">
                        <!--<div class="inner-side-course-icon"> <i class="fas fa-book"></i> </div>-->
                        <div class="inner-side-course-detail" bis_skin_checked="1">
                            <h5>Course Outline</h5>
                            <p>Tajweed Course Outline</p>
                        </div>
                    </div>
                    <ul>
                        <p class="ayat">﷽</p>
                        <p class="text-center">What will you learn in tajweed quran course?</p>
                        <li>What is Tajweed</li>
                        <li>Benefits of learning Tajweed</li>
                        <li>Heavy and light letters</li>
                        <li>Rules of Noon Saakin and Tanween</li>
                        <li>Rules of Meem Saakin</li>
                        <li>Qalqala</li>
                        <li>Laam in the exalted name of Allah</li>
                        <li>Letter Raa rules</li>
                        <li>Madd – Lengthening rules</li>
                        <li>Stopping at the end of words</li>
                        <li>The Qualities of the letters</li>
                        <li>Exercises</li>
                        <div class="small-link-area text-center" bis_skin_checked="1"> <a href="javascript:void(0)"
                                class="filled-link signup-popup-btn">Get Enrolled Now</a> </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



<app-learn-here></app-learn-here>
<app-price-plan></app-price-plan>
<app-video-review></app-video-review>
<app-reviews></app-reviews>
<app-register-sec></app-register-sec>