<section class="white-section ornament-section only-bottom-right">
    <div class="container" bis_skin_checked="1">
        <div class="row" bis_skin_checked="1">
            <div class="col-12" bis_skin_checked="1">
                <div class="section-heading text-center mb-40" bis_skin_checked="1"> <img width="auto" height="auto"
                        loading="lazy"
                        src="https://ik.imagekit.io/quranmasteronline/assets/images/ayat/1.png?updatedAt=1631284292673"
                        alt="Ayat" class="heading-ayat-img">
                    <h2> <span style="color: green;">Quran Class For Kids</span> Price Plan </h2>
                </div>
            </div>
        </div>
        <div class="row" bis_skin_checked="1">
            <div class="col-lg-12" bis_skin_checked="1">
                <div class="service-area" bis_skin_checked="1">
                    <div class="row" bis_skin_checked="1">
                        <div class="col-md-6" bis_skin_checked="1">
                            <div class="single-service" bis_skin_checked="1">
                                <div class="service-img" bis_skin_checked="1"> <img width="auto" height="auto"
                                        loading="lazy" src="../../../assets/images/vecto_price.png" alt=""> </div>
                                <div class="service-detail-area" bis_skin_checked="1">
                                    <div class="single-inner-pricing" bis_skin_checked="1">
                                        <h3> <sup>$/£</sup>36<sub>/mo</sub>
                                            <p>For Weekends $35/mo</p>
                                        </h3>
                                        <ul>
                                            <li><strong style="color: green;">30</strong> min lessons</li>
                                            <li><strong style="color: green;">8</strong> Classes/Month</li>
                                            <li><strong style="color: green;">4</strong> hours/Month</li>
                                            <li>For Arab Teacher <strong style="color: green;">20%</strong> Extra will be charged.</li>
                                        </ul>
                                    </div>
                                    <a href="https://www.quranmasteronline.com/pricing" class="register_btn ms-3 mt-4">
                                        Pricing Plan <i class="fas fa-long-arrow-alt-right"></i></a>
                                    <a (click)="modal0_open(level_modal)" class="register_btn ms-3 mt-4">
                                        Register Now <i class="fas fa-long-arrow-alt-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" bis_skin_checked="1">
                            <div class="single-service" bis_skin_checked="1">
                                <div class="service-img" bis_skin_checked="1"> <img width="auto" height="auto"
                                        loading="lazy" src="../../../assets/images/vecto_price.png" alt=""> </div>
                                <div class="service-detail-area" bis_skin_checked="1">
                                    <div class="single-inner-pricing" bis_skin_checked="1">
                                        <h3> <sup>$/£</sup>36<sub>/mo</sub>
                                            <p>For Weekends $35/mo</p>
                                        </h3>
                                        <ul>
                                            <li><strong style="color: green;">30</strong> min lessons</li>
                                            <li><strong style="color: green;">8</strong> Classes/Month</li>
                                            <li><strong style="color: green;">4</strong> hours/Month</li>
                                            <li>For Arab Teacher <strong style="color: green;">20%</strong> Extra will be charged.</li>
                                        </ul>
                                    </div>
                                    <a href="https://www.quranmasteronline.com/pricing" class="register_btn ms-3 mt-4">
                                        Pricing Plan <i class="fas fa-long-arrow-alt-right"></i></a>
                                    <a (click)="modal0_open(level_modal)" class="register_btn ms-3 mt-4">
                                        Register Now <i class="fas fa-long-arrow-alt-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" bis_skin_checked="1">
                            <div class="single-service" bis_skin_checked="1">
                                <div class="service-img" bis_skin_checked="1"> <img width="auto" height="auto"
                                        loading="lazy" src="../../../assets/images/vecto_price.png" alt=""> </div>
                                <div class="service-detail-area" bis_skin_checked="1">
                                    <div class="single-inner-pricing" bis_skin_checked="1">
                                        <h3> <sup>$/£</sup>36<sub>/mo</sub>
                                            <p>For Weekends $35/mo</p>
                                        </h3>
                                        <ul>
                                            <li><strong style="color: green;">30</strong> min lessons</li>
                                            <li><strong style="color: green;">8</strong> Classes/Month</li>
                                            <li><strong style="color: green;">4</strong> hours/Month</li>
                                            <li>For Arab Teacher <strong style="color: green;">20%</strong> Extra will be charged.</li>
                                        </ul>
                                    </div>
                                    <a href="https://www.quranmasteronline.com/pricing" class="register_btn ms-3 mt-4">
                                        Pricing Plan <i class="fas fa-long-arrow-alt-right"></i></a>
                                    <a (click)="modal0_open(level_modal)" class="register_btn ms-3 mt-4">
                                        Register Now <i class="fas fa-long-arrow-alt-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" bis_skin_checked="1">
                            <div class="single-service" bis_skin_checked="1">
                                <div class="service-img" bis_skin_checked="1"> <img width="auto" height="auto"
                                        loading="lazy" src="../../../assets/images/vecto_price.png" alt=""> </div>
                                <div class="service-detail-area" bis_skin_checked="1">
                                    <div class="single-inner-pricing" bis_skin_checked="1">
                                        <h3> <sup>$/£</sup>36<sub>/mo</sub>
                                            <p>For Weekends $35/mo</p>
                                        </h3>
                                        <ul>
                                            <li><strong style="color: green;">30</strong> min lessons</li>
                                            <li><strong style="color: green;">8</strong> Classes/Month</li>
                                            <li><strong style="color: green;">4</strong> hours/Month</li>
                                            <li>For Arab Teacher <strong style="color: green;">20%</strong> Extra will be charged.</li>
                                        </ul>
                                    </div>
                                    <a href="https://www.quranmasteronline.com/pricing" class="register_btn ms-3 mt-4">
                                        Pricing Plan <i class="fas fa-long-arrow-alt-right"></i></a>
                                    <a (click)="modal0_open(level_modal)" class="register_btn ms-3 mt-4">
                                        Register Now <i class="fas fa-long-arrow-alt-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<ng-template #level_modal let-modal>
    <div class="signup-popup show-popup" bis_skin_checked="1">
        <div class="signup-popup-cross" bis_skin_checked="1"><i class="fas fa-times" (click)="modal_dis()"></i></div>
        <!-- <img width="auto" height="auto" src="images/home/banner1.png" alt="Boy" class="signup-popup-img"> -->
        <form class="contact-form" id="contact-form" type="POST">
            <div class="row" bis_skin_checked="1">
                <div class="col-12" bis_skin_checked="1"> <img width="auto" height="auto" loading="lazy"
                        src="https://ik.imagekit.io/quranmasteronline/assets/images/ayat/3.png?updatedAt=1631284275090"
                        alt="Ayat">
                    <h3>Start Your 7 Day Trial</h3>
                    <p>Get Enrolled Now and find some special and amazing discounts</p>
                </div>
                <div class="col-12" bis_skin_checked="1">
                    <div class="second-form-input" bis_skin_checked="1"> <i class="far fa-user"></i> <input type="text"
                            placeholder="Full Name or Student Name" name="name" required=""> </div>
                    <div class="second-form-input" bis_skin_checked="1"> <i class="fas fa-envelope"></i> <input
                            type="email" placeholder="Your Email (xyz@gmail.com)" name="email" required=""> </div>
                    <div class="second-form-input" bis_skin_checked="1">
                        <div class="iti iti--allow-dropdown iti--show-flags" bis_skin_checked="1">
                            <div class="iti__flag-container" bis_skin_checked="1">
                                <div class="iti__selected-flag" role="combobox" aria-haspopup="listbox"
                                    aria-controls="iti-2__country-listbox" aria-expanded="false"
                                    aria-label="Telephone country code" tabindex="0" title="Pakistan (‫پاکستان‬‎): +92"
                                    bis_skin_checked="1">
                                    <div class="iti__flag iti__pk" bis_skin_checked="1"></div>
                                    <div class="iti__arrow" bis_skin_checked="1"></div>
                                </div>
                                 
                            </div><input type="number" id="phone-signup" min="0" placeholder="Phone" name="number"
                                required="" autocomplete="off" data-intl-tel-input-id="2"><input type="hidden"
                                name="full">
                        </div>
                    </div>
                    <div class="second-form-input" bis_skin_checked="1"> <textarea
                            placeholder="Any questions or concerns (Skype ID *if any)" name="message"
                            required=""></textarea> </div>
                </div>
                <div class="col-12" bis_skin_checked="1"> <input type="hidden" class="txt_csrfname"
                        name="csrf_test_name" value="8223901383530278758248b4e446ba69"> <input type="submit"
                        value="Get Enrolled Now" class="second-form-submit"> </div>
                <div class="success-box" style="display:none;width:100%" bis_skin_checked="1">
                    <div class="alert alert-success" bis_skin_checked="1">
                        <p class="form-messege">Congratulations. Your message has been sent successfully.</p>
                    </div>
                </div>
                <div class="error-box" style="display:none;width:100%" bis_skin_checked="1">
                    <div class="alert alert-warning" bis_skin_checked="1">
                        <p class="form-messege">Error, please retry. Your message has not been sent.</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
  
  </ng-template>