<section class="white-section ornament-section only-bottom-right">
    <div class="container" bis_skin_checked="1">
        <div class="row" bis_skin_checked="1">
            <div class="col-12" bis_skin_checked="1">
                <div class="section-heading text-center mb-40" bis_skin_checked="1"> <img width="auto" height="auto"
                        loading="lazy"
                        src="https://ik.imagekit.io/quranmasteronline/assets/images/ayat/1.png?updatedAt=1631284292673"
                        alt="Ayat" class="heading-ayat-img">
                    <h2>Why Choose <span style="color: green;">Quran  Class For Kids</span> online?</h2>
                    <p>Quran  Class For Kids Online is a subtle way to learn or revise the Holy Quran from the sketch to the
                        tajweed theories. We dynamically offer various packages to learn the accurate Quran reading with
                        proper Pronunciation. We also provide the Tajweed classes to sharpen your Quranic skills.</p>
                </div>
            </div>
        </div>
        <div class="row" bis_skin_checked="1">
            <div class="col-lg-8" bis_skin_checked="1">
                <div class="service-area" bis_skin_checked="1">
                    <div class="row" bis_skin_checked="1">
                        <div class="col-md-6" bis_skin_checked="1">
                            <div class="single-service" bis_skin_checked="1">
                                <div class="service-img" bis_skin_checked="1"> <img width="auto" height="auto"
                                        loading="lazy"
                                        src="https://ik.imagekit.io/quranmasteronline/assets/images/third-sec/icons-10.png?updatedAt=1632234144972"
                                        alt=""> </div>
                                <div class="service-detail-area" bis_skin_checked="1">
                                    <h3>Special Discount</h3>
                                    <p><strong>15%</strong> for New &amp; Disable Muslims.<br><strong>10%</strong>
                                        discount for siblings.<br><strong>10%</strong> discount on a Referrals.
                                        <br><strong>25%</strong> discount on annual payments.<br><strong>20%</strong> on
                                        6 month payments.</p> <a
                                        href="https://www.quranmasteronline.com/pricing">Pricing Plan <i
                                            class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" bis_skin_checked="1">
                            <div class="single-service" bis_skin_checked="1">
                                <div class="service-img" bis_skin_checked="1"> <img width="auto" height="auto"
                                        loading="lazy"
                                        src="https://ik.imagekit.io/quranmasteronline/assets/images/third-sec/1.svg?updatedAt=1631276096072"
                                        alt=""> </div>
                                <div class="service-detail-area" bis_skin_checked="1">
                                    <h3>Our Proficiency</h3>
                                    <p>Alhamdulillah! Completing the seven years of teaching Holy Quran online, makes us
                                        proud by saying that we have always given our learners honesty, reliability and
                                        brilliance.</p> <a href="https://www.quranmasteronline.com/pricing">Pricing Plan
                                        <i class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" bis_skin_checked="1">
                            <div class="single-service" bis_skin_checked="1">
                                <div class="service-img" bis_skin_checked="1"> <img width="auto" height="auto"
                                        loading="lazy"
                                        src="https://ik.imagekit.io/quranmasteronline/assets/images/third-sec/2.svg?updatedAt=1631276094009"
                                        alt=""> </div>
                                <div class="service-detail-area" bis_skin_checked="1">
                                    <h3>Best Tutoring System</h3>
                                    <p>We have professional Quran tutors on the board and educate a vast range of
                                        students worldwide through the easiest and simplest Quran tutoring system.</p>
                                    <a href="https://www.quranmasteronline.com/pricing">Pricing Plan <i
                                            class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" bis_skin_checked="1">
                            <div class="single-service" bis_skin_checked="1">
                                <div class="service-img" bis_skin_checked="1"> <img width="auto" height="auto"
                                        loading="lazy"
                                        src="https://ik.imagekit.io/quranmasteronline/assets/images/third-sec/3.svg?updatedAt=1631276096042"
                                        alt=""> </div>
                                <div class="service-detail-area" bis_skin_checked="1">
                                    <h3>Live Holy Quran Classes</h3>
                                    <p>We also offer live Holy Quran classes for the students who want to learn Quran
                                        daily. We intend to make your Quranic skills more vulnerable and unconventional.
                                    </p> <a href="https://www.quranmasteronline.com/pricing">Pricing Plan <i
                                            class="fas fa-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" bis_skin_checked="1"> <img width="auto" height="auto" loading="lazy"
                    src="https://ik.imagekit.io/quranmasteronline/assets/images/third-sec/side-img.png?updatedAt=1631286240774"
                    alt="" class="img-fluid none-on-pad"> </div>
        </div>
    </div>
</section>