<section class="white-section vision-mission-section">
    <div class="container" bis_skin_checked="1">
        <div class="row" bis_skin_checked="1">
            <div class="col-12" bis_skin_checked="1">
                <div class="section-heading text-center white-text small-img-head" bis_skin_checked="1"> <img
                        width="auto" height="auto" loading="lazy"
                        src="https://ik.imagekit.io/quranmasteronline/assets/images/ayat/2.png?updatedAt=1631284284067"
                        alt="Ayat" class="heading-ayat-img">
                    <h2>Our Vision &amp; Mission</h2>
                    <p>Our mission and vision drive the same intensity towards the Quran, learning and educating
                        millions of people looking to learn and read the Quran, Pronunciation, and Tajweed worldwide.
                        Believe us as your master to be master in the Holy Quran. </p>
                </div>
            </div>
        </div>
    </div>
</section>